

.trailer button {
	display: none;
	transition:.3s ease-in-out;
	position:absolute;
	top:45%;
	left:50%;
	transform: translate(-50%,-50%);
}

.trailer button:hover {
	opacity:0.5 ;
}

.trailer img {
	width:80px;
	height: 80px;
}